@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    var selection = Umbraco.TypedContent(1187).Children("promoItem")
                        .Where(x => x.IsVisible());
}


<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        @foreach (var item in selection)
        {
                    <div class="carousel-item @item.IsFirst("active")">
                    <img src="@item.GetCropUrl("Image", "promoHome")" alt="Alternate Text" />
                    <div class="carousel-caption">
                        <h2>@item.Name</h2>
                        <h3>@item.GetPropertyValue("Subheading")</h3>
                        <p>@item.GetPropertyValue("Description")</p>
                        <p><a href="@Umbraco.Content(item.GetPropertyValue("Link")).Url" role="button">Read More</a></p>
                    </div>
                </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<h3>From Partial View</h3>
